<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1>Welcome to my ugly homepage</h1>
      <p>Create an account or login</p>
      <form action="/users/register" class="mb-3">
        <button type="submit" class="btn btn-block btn-dark">
          Register
        </button>
      </form>
      <form action="/users/login" class="mb-3">
        <button type="submit" class="btn btn-block btn-danger">Login</button>
      </form>
    </div>
  </div>
</div>
